version: 2.1

executors:
  node:
    docker:
      - image: ocircleci/node:13.8.0
        auth:
          username: $DOCKERHUB_USERNAME  
          password: $DOCKERHUB_PASSWORD 
  aws:
    docker:
      - image: amazon/aws-cli
  python:
    docker:
      - image: python:3.9.0-alpine


jobs:
########CI #########
  install:
    executor: node
    steps:
    - checkout
    - run:
        name: npm install 
        working_directory: ./project
        command: npm install ng-circle-progress --save && ls -la && npm install $$  
    - persist_to_workspace:
        root: ./project
        paths:
          - project/node_modules
  build:
    executor: node
    steps:
      - checkout
      - attach_workspace:
          at: ./project
      - run:
          name: npm build
          working_directory: ./project
          command: npm run build
  test:
    executor: node
    steps:
      - checkout
      - attach_workspace:
          at: ./project
      - run:
          name: Install junit coverage reporter
          working_directory: ./project
          command: npm install --save-dev jest-junit
      - run:
          name: Run tests with JUnit as reporter
          working_directory: ./project
          command: npm test -- --ci --runInBand --reporters=default --reporters=jest-junit && pwd && ls -la /tmp
          environment:
            JEST_JUNIT_OUTPUT_DIR: ./test_results
      - store_test_results:
          path: ./project/test_results
      - store_artifacts:
          path: ./project/test_results

  analyze:
    executor: node
    steps:
      - checkout
      - attach_workspace:
          at: ./project
      - run:
          name: Check  against security vulnerabilities
          working_directory: ./project
          command: npm audit --audit-level=critical
  

workflows:
  
  project:
    jobs:
      - install
      - build:
          requires:
            - install
      - test:
          requires:
            - build
      - analyze:
          requires:
            - build
      